.slider-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 20px;
}
.slider {
  writing-mode: lr-tb;
  -webkit-appearance: slider-horizontal;
  width: 70px;
  height: 8px;
  padding: 5px 0;
}
