.slider-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
}
.slider {
  writing-mode: bt-lr;
  -webkit-appearance: slider-vertical;
  width: 8px;
  height: 70px;
  padding: 0 5px;
}
