.control-panel {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas:
    "button6 button1 button7"
    "button3 . button2"
    ". button4 button5";
  gap: 10px;
  align-items: center;
  padding: 15px 15px 15px 15px;
  background-color: grey;
  border: 1px solid grey;
  border-radius: 5%;
}

.button1 {
  grid-area: button1;
}

.button2 {
  grid-area: button2;
}

.button3 {
  grid-area: button3;
}

.button4 {
  grid-area: button4;
}

.button5 {
  grid-area: button5;
}
