.container{
    border: 2px solid #000; 
    padding: 10px;
    border-radius: 5px;
    background-color: #fff; 
    margin-top: 100px;
    margin-left: 50px;
    //display: flex;
    position: relative;
    justify-content: center;

}

.contents{
    //position: absolute;
    
}